body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(243, 242, 239, 0);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(243, 242, 239, 0.908);
}

/* ----------------- Header ----------------*/

.header-container {
  display: flex;
  width: 100%;
  position: fixed;
  top: 0px;
  padding-top: 0px;
  background-color: white;
  flex-direction: row;
  justify-content: center;
}

.header-container2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1090px;
  width: 100%;
}

.left-header-container {
  display: flex;
  flex-direction: row;
  flex: 0 0 30%;
  align-items: center;
}

.left-header-container-searchcontainer {
  align-items: center;
  display: flex;
  flex-grow: 1;
  height: 33px;
  background-color: rgb(238, 243, 248);
  padding: 0px 5px 0px 5px;
  border-radius: 5px;
}

.left-header-container-searchcontainer input {
  outline: none;
  background-color: transparent;
  border: none;
  color: rgba(0, 0, 0, 0.8);
}

.left-header-container-img {
  height: 44px;
}

.left-header-container-img img {
  height: 100%;
}

.right-header-container {
  display: flex;
  flex-direction: row;
}

.right-header-container-content {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
}

.header-icons {
  color: "rgba(0,0,0,0.6)";
  font-size: 20px;
  padding-right: 5px;
}

.right-header-container-content span {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.6);
}

/* ----------------- App-body ---------------- */
.app-body {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  max-width: 1090px;
  width: 100%;
  justify-content: center;
  margin: 78px auto;
}

/* ----------------- Sidebar ---------------- */

.Sidebar-container {
  display: flex;
  flex-direction: column;
  flex: 0 0 20%;
  margin-bottom: 20px;

}

.sidebar-upper-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 6px;
}

.sidebar-lower-container {
  display: flex;
  flex-direction: column;
}

.sidebar-profile-info-container {
  display: flex;
  flex-direction: column;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.146);
  padding: 15px 0px;
}

.sidebar-profile-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar-connection-info-container {
  display: flex;
  flex-direction: column;
  padding: 15px 10px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.164);
}

.Sidebar-connections {
  display: flex;
  flex-direction: row;
}

.sidebar-profilepic {
  padding: 15px 0px;

}

#sidebar-user-name {
  padding: 3px 0px;
  font-size: 16px;
  font-weight: 700;
}

#useruni {
  padding: 3px 0px;
  font-size: 12px;
  font-weight: 500;
  color: rgb(188, 188, 188);
}

.sidebar-myitems-info-container {
  display: flex;
  flex-direction: row;
  padding: 15px 10px;
  align-items: center;
  color: rgba(0, 0, 0, 0.598);
  font-size: 14px;
  font-weight: 500;
}

.connection-suggestion {
  font-size: 12px;
  font-weight: 600;
  padding-top: 3px;
  color: black;

}

.connection-title {
  display: flex;
  flex-grow: 1;
  color: rgba(0, 0, 0, 0.598);
  font-size: 14px;
  font-weight: 500;
}

.sidebar-profilepic {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.sidebar-profilepic img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

.Connection-count {
  font-size: 13px;
  font-weight: 500;
}

.sidebar-lower-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 6px;
  margin-top: 5px;
  position: sticky;
  top:78px;
  padding: 15px 10px;
}

/* ------------- sidebar lower -------------*/

.sidebar-lower-header {
  font-size: 13px;
  font-weight: 400;
}

.sidebar-lower-info {
  padding: 10px 0px 0px 0px;
  font-size: 13px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.65);
}


/* ------------- Feed -------------*/

.Feed-container{
  display: flex;
  flex-direction: column;
  flex: 0 0 55%;
}
.feed-post-container{
  display: flex;
  background-color: white;
  border-radius: 6px;
  margin: 0px 20px;
  flex-direction: column;
  padding: 5px 10px;
}
.feed-input-container{
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
 
}
.feed-input-container input{
  display: flex;
  flex-grow: 1;
  height: 40px;
  border-radius: 20px;outline: none;
  border: 1px solid rgba(0, 0, 0, 0.239);
  padding-left: 20px;
  margin-left: 7px;
  background-color: rgba(211, 211, 211, 0.475);
  font-weight: 900;
}
.feed-input-text-container{
  display: flex;
  flex-grow: 1;
}
.feed-input-image-container{
  display: flex;
}
.feed-input-image-container img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.feed-option-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5px;
}
.options-container{
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 10px 6px;
  font-weight: 600;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.576);
  border-radius: 5px;
}
.options-container:hover{
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}


/* ------------- feed read container -------------*/

.feed-Read-container{
  display: flex;
  flex-direction: column;
  margin:0px 20px;
}

.post-card{
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  background-color: white;
  padding: 5px 10px;
  border-radius: 6px;

}
.Post-header{
  display: flex;
  flex-direction: row;
  align-items: center;

}
.user-info{
  display: flex;
  flex-direction: column;
}
.user-pic{
  display: flex;
  margin-bottom: 10px;
}
.user-pic img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.user-name{
  font-size: 15px;
  font-weight: 600;
}
.user-info{
  padding-left: 5px;
}
.user-information{
  font-size: 13px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.496);
}
.user-time{
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.496);
 
}
.post-content{
  display: flex;
  margin:10px 0px 3px 0px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.377);
  padding-bottom: 15px;
}

.options-container{
  flex-grow: 1;
  display: flex;
  color: rgba(0, 0, 0, 0.44);
  justify-content: center;
}

/* ------------- Widget-container -------------*/

.Widget-container{
  display: flex;
  flex-direction: column;
  flex: 0 0 25%;
}
.post-actions{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
