body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(243, 242, 239, 0);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(243, 242, 239, 0.908);
}

/* ----------------- Header ----------------*/

.header-container {
  display: flex;
  width: 100%;
  position: fixed;
  top: 0px;
  padding-top: 0px;
  background-color: white;
  flex-direction: row;
  justify-content: center;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.253);
}

.header-container2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1090px;
  width: 100%;
}

.left-header-container {
  display: flex;
  flex-direction: row;
  flex: 0 0 30%;
  align-items: center;
}

.left-header-container-searchcontainer {
  align-items: center;
  display: flex;
  flex-grow: 1;
  height: 33px;
  background-color: rgb(238, 243, 248);
  padding: 0px 5px 0px 5px;
  border-radius: 5px;
}

.left-header-container-searchcontainer input {
  outline: none;
  background-color: transparent;
  border: none;
  color: rgba(0, 0, 0, 0.8);
}

.left-header-container-img {
  height: 44px;
}

.left-header-container-img img {
  height: 100%;
}

.right-header-container {
  display: flex;
  flex-direction: row;
}

.right-header-container-content {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
}

.header-icons {
  color: "rgba(0,0,0,0.6)";
  font-size: 20px;
  padding-right: 5px;
}

.right-header-container-content span {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.6);
}

/* ----------------- App-body ---------------- */
.app-body {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  max-width: 1090px;
  width: 100%;
  justify-content: center;
  margin: 78px auto;
}

/* ----------------- Sidebar ---------------- */

.Sidebar-container {
  display: flex;
  flex-direction: column;
  flex: 0 0 20%;
  margin-bottom: 20px;

}

.sidebar-upper-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 6px;
}

.sidebar-lower-container {
  display: flex;
  flex-direction: column;
}

.sidebar-profile-info-container {
  display: flex;
  flex-direction: column;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.146);
  padding: 15px 0px;
}

.sidebar-profile-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar-connection-info-container {
  display: flex;
  flex-direction: column;
  padding: 15px 10px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.164);
}

.Sidebar-connections {
  display: flex;
  flex-direction: row;
}

.sidebar-profilepic {
  padding: 15px 0px;

}

#sidebar-user-name {
  padding: 3px 0px;
  font-size: 16px;
  font-weight: 700;
}

#useruni {
  padding: 3px 0px;
  font-size: 12px;
  font-weight: 500;
  color: rgb(188, 188, 188);
}

.sidebar-myitems-info-container {
  display: flex;
  flex-direction: row;
  padding: 15px 10px;
  align-items: center;
  color: rgba(0, 0, 0, 0.598);
  font-size: 14px;
  font-weight: 500;
}

.connection-suggestion {
  font-size: 12px;
  font-weight: 600;
  padding-top: 3px;
  color: black;

}

.connection-title {
  display: flex;
  flex-grow: 1;
  color: rgba(0, 0, 0, 0.598);
  font-size: 14px;
  font-weight: 500;
}

.sidebar-profilepic {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.sidebar-profilepic img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

.Connection-count {
  font-size: 13px;
  font-weight: 500;
}



/* ------------- sidebar lower -------------*/

.sidebar-lower-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 6px;
  margin-top: 5px;
  position: sticky;
  top: 78px;
  padding: 15px 10px;
}

.sidebar-lower-header {
  font-size: 13px;
  font-weight: 400;
}

.sidebar-lower-info {
  padding: 10px 0px 0px 0px;
  font-size: 13px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.65);
}


/* ------------- Feed -------------*/

.Feed-container {
  display: flex;
  flex-direction: column;
  flex: 0 0 55%;
}

form {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
}

form button {
  display: none;
}

.feed-post-container {
  display: flex;
  background-color: white;
  border-radius: 6px;
  margin: 0px 20px;
  flex-direction: column;
  padding: 5px 10px;
}

.feed-input-container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;

}

.feed-input-container input {
  display: flex;
  flex-grow: 1;
  height: 40px;
  border-radius: 20px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.239);
  padding-left: 20px;
  margin-left: 7px;
  background-color: rgba(211, 211, 211, 0.475);
  font-weight: 900;
}

.feed-input-text-container {
  display: flex;
  flex-grow: 1;
}

.feed-input-image-container {
  display: flex;
}

.feed-input-image-container img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.feed-option-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5px;
}

.options-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 10px 6px;
  font-weight: 600;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.576);
  border-radius: 5px;
}
.options-container.liked{
  color:rgb(0, 132, 255)
}

.options-container:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.post-likes-comments{
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding:10px 0px ;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.377);
}
.post-likes{
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #615f5f;
  font-weight: 700;
}


/* ------------- feed read container -------------*/


.likes-thumbsup{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 2px 2px;
  margin-right: 1.5px;
  font-size: 2px;
  color: #535252;
  background-color: rgb(0, 132, 255);
}
.feed-Read-container {
  display: flex;
  flex-direction: column;
  margin: 12px 20px;
}

.post-card {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  background-color: white;
  padding: 5px 10px;
  border-radius: 6px;

}

.Post-header {
  display: flex;
  flex-direction: row;
  align-items: center;

}

.user-info {
  display: flex;
  flex-direction: column;
}

.Post-header .user-pic {
  display: flex;
  margin-bottom: 10px;
}

.Post-header .user-pic img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.user-name {
  font-size: 15px;
  font-weight: 600;
}

.user-info {
  padding-left: 5px;
}

.user-information {
  font-size: 13px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.496);
}

.user-time {
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.496);

}

.post-content {
  display: flex;
  margin: 10px 0px 3px 0px;
  
  padding-bottom: 15px;
}
.post-content.nt{

  border-bottom: 0.5px solid rgba(0, 0, 0, 0.377);
}

.options-container {
  flex-grow: 1;
  display: flex;
  color: rgba(0, 0, 0, 0.44);
  justify-content: center;
}

.post-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}




/* ------------- Widget-container -------------*/

.Widget-container {
  display: flex;
  flex-direction: column;
  flex: 0 0 25%;
}

.first-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 15px 10px;
  border-radius: 6px;
}

.second-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 6px;
  padding: 15px 10px;
  margin-top: 5px;
  position: sticky;
  top: 78px;
  padding: 15px 10px;
}

.first-container-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.first-container-header span {
  font-weight: 700;
}

.news-card {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-top: 15px;
}

.news-card span {
  font-size: 12px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.427);
}

ul {
  padding: 0px;
  margin: 0px;
}

li {
  padding: 0px;
  margin: 0px;
  font-size: 13px;
  font-weight: 700;
}

.second-container-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: center;
  text-align: center;
  font-size: 12.5px;
  color: rgba(0, 0, 0, 0.46);
  padding: 10px 0px;
}

.images-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.images-container img {
  height: 70px;
  margin-right: 10px;
  width: 70px;
  border-radius: 50%;
}

.follow {
  display: flex;
  justify-content: center;
  font-weight: 700;
  padding: 5px 9px;
  width: fit-content;
  margin: auto;
  align-items: center;
  color: rgb(0, 110, 255);
  flex-basis: 10%;
  border-radius: 10px;
  border: 0.5px solid rgb(0, 110, 255);
}

.message {
  display: flex;
  justify-content: center;
  padding: 10px 0px;
  font-size: 15px;

}

.right-header-container-content img {
  height: 22px;
  width: 22px;
  border-radius: 50%;
}

/*--------------- authmodal -------------- */
.authmodal-main-cont {
  display: flex;
  position: relative;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.207);
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: white;
}

.authmodal-inner-cont {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  width: 30%;
  color: black;
  background-color: white;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.49);
}

.authmodal-inner-cont input {
  width: 70%;
  padding: 17px;
  font-size: 15px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.398);
  color: black;
  outline: none;
  margin: 15px 0px 0px 0px;
  border-radius: 2px;

}

.authmodal-inner-cont h1 {
  color: black;
  font-weight: 700;
  margin-top: 30px;
  width: 76%;
  font-size: 37px;
}

.authmodal-inner-cont .vutton {
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: 700;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.2s all;
}

.authmodal-inner-cont .submit-container:hover {
  cursor: pointer;
  background-color: rgb(31, 78, 195);
  ;
}

.authmodal-inner-cont p {
  color: #737373;
  margin-top: 30px;
  margin-bottom: 40px;
  width: 72%;
}



.authmodal-inner-cont p span {
  color: black;
  font-size: 17px;

}

.authmodal-inner-cont p span:hover {
  text-decoration: dashed;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.433);
}

.authmodal-main-cont img {
  width: 150px;
  display: block;
  position: absolute;
  top: 0px;
  left: 50px;
}

.submit-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin-top: 40px;
  text-align: center;
  background-color: rgba(40, 103, 178, 255);
  color: white;
  font-size: 16px;
  font-weight: 700;
  outline: none;
  border: none;
  border-radius: 30px;
  padding: 17px;
  width: 70%;
  transition: 0.2s all;
}

.submit-container .loader {
  border: 2px solid rgba(251, 246, 246, 0.25);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-top: 0rem;
  z-index: 29;
  animation-name: loadt;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-timing-function: linear;
  border-top: 2px solid white;
}

@keyframes loadt {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(90deg);
  }
  75% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }

}

.authmodal-main-cont i {
  font-size: 20px;
  background-color: #e50914;
  border-radius: 50%;
  padding: 10px 12px;
  align-self: flex-end;

  transform: translate(40%, -30%);
  position: relative;
  transition: 0.3s all;

}

.authmodal-main-cont i:hover {
  color: white;
  cursor: pointer;
}

.error-cont {
  color: red;
  text-align: left;
  width: 75%;
  margin-top: 10px;
}

/* navbar sigin out */

.profile-drop {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 45px;
  right: 2px;
  background-color: #14141479;
  padding: 10px;
  border-radius: 5px;
}

.profile-drop .profile-pic-email {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}

.logout {
  background-color: #e50914;
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
  color: white;
  align-items: center;
  margin-top: 10px;
  text-align: center;
  font-weight: 500;
}

#logout {
  display: flex;
  flex-direction: column;

  align-items: center;
  position: relative;
  justify-content: center;
}

#logout img {
  height: 35px;
  width: 35px;
  margin-right: 10px;
  border-radius: 5px;
}

#logout:hover {
  transform: scale(1.1);
}

.profile-drop.disappear {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 45px;
  right: 2px;
  background-color: #14141479;
  padding: 10px;
  border-radius: 5px;
}


/*--------------- Comments ---------------- */
.post-card .feed-input-image-container img{
height: 40px;
width: 40px;
}
.post-card  form input{
  height: 40px;
}

.post-card .feed-input-container{
  margin: 7px 0px;
}
.post-comments{
  display: flex;
  align-self: flex-end;
  font-size: 12px;
  color: #535252;
}
.comment-container .user-pic {
  align-self: flex-start;
}
.comment-container .user-pic img {
 height: 40px;

 width: 40px;
}
.comment-container .Post-header{
  margin-top: 5px;
}
.comment-container .Post-header{
  align-items: center;
  display: flex;
}
.comment-container .user-info{
  background-color: rgba(211, 211, 211, 0.355);
  flex-grow: 1;
  margin-left: 5px;
  padding: 10px;
  border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
border-top-right-radius: 10px;
}
.comment-container .user-name{
font-size: 14px;
}

.comment-container .user-information{
  font-size: 12px;
}
.comments input{
background-color: white;
}
.comment-container .user-time{
  font-size: 12px;
}
.comment-container .post-content{
margin: 10px 0px 0px 0px;
padding-bottom: 0px;

}

.comment-container{
  display: flex;
  flex-direction: column;
}
.comment-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 13px;
  font-weight: 600;
  color: #676666;
}